@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@theme {
        --font-cormorant:'Cormorant Garamond';
        --font-varsailles:'Versailles';
        --font-josefins:"Josefin Sans", serif;
      /* ======================================================= SCREENS ============================================================ */

      --breakpoint-xxs: 320px;
      --breakpoint-xs: 425px;
      --breakpoint-576: 576px;
      --breakpoint-sm: 640px;
      --breakpoint-md: 768px;
      --breakpoint-992: 992px;
      --breakpoint-lg: 1024px;
      --breakpoint-large: 1199px;
      --breakpoint-xl: 1280px;
      --breakpoint-xxl: 1440px;
      --breakpoint-xxxl: 1512px;

        /* ======================================================= FONT SIZE ============================================================ */

        --text-10:10px;
        --text-12:12px;
        --text-14:14px;
        --text-16:16px;
        --text-18:18px;
        --text-20:20px;
        --text-22:22px;
        --text-24:24px;
        --text-26:26px;
        --text-28:28px;
        --text-30:30px;
        --text-32:32px;
        --text-34:34px;
        --text-36:36px;
        --text-38:38px;
        --text-40:40px;
        --text-42:42px;
        --text-44:44px;
        --text-46:46px;
        --text-48:48px;
        --text-50:50px;
        --text-52:52px;
        --text-54:54px;
        --text-56:56px;
        --text-58:58px;
        --text-60:60px;
        --text-62:62px;
        --text-64:64px;
        --text-66:66px;
        --text-68:68px;
        --text-70:70px;
        --text-72:72px;
        --text-74:74px;
        --text-76:76px;
        --text-78:78px;
        --text-80:80px;
        --text-82:82px;
        --text-84:84px;
        --text-86:86px;
        --text-88:88px;
        --text-90:90px;
        --text-92:92px;
        --text-94:94px;
        --text-96:96px;
        --text-98:98px;
        --text-100:100px;
        --text-102:102px;
        --text-104:104px;
        --text-106:106px;
        --text-108:108px;
        --text-110:110px;
        --text-112:112px;
        --text-114:114px;
        --text-116:116px;
        --text-118:118px;
        --text-120:120px;

    /* ======================================================= COLORS ============================================================ */

        --color-pink: #CA2180;
        --color-orange: #FB5607;
        --color-skin:#FAF3E0;
        --color-charcoal:#12171B;
        --color-white:#FFFFFF;
        --color-gray:#8A8068;
        --color-blue:#3B72AA;
        --color-lightbrown:#E7DCC0;
        --color-lightgray:#E9E9E9;
        --color-darkblue:#001F3F;
        --color-semigray:#E4E4E4;

    /* ======================================================= SPACING ============================================================ */

        --spacing: 1px;

    /* ======================================================= BORDER RADIUS ============================================================ */

        --radius-none:0;
        --radius-1:1px;
        --radius-2:2px;
        --radius-4:4px;
        --radius-5:5px;
        --radius-10:10px;
        --radius-15:15px;
        --radius-20:20px;
        --radius-30:30px;
        --radius-50:50px;
        --radius-55:55px;
        --radius-100:100px;
        --radius-500:500px;
        --radius-999:999px;
        --radius-100per:100%;

        /* ======================================================= LETTER SPACING ============================================================ */

        --tracking-custom:0.02em;
        --tracking-custom-small:0.01em;

        /* ======================================================= BOX SHADOW ============================================================ */

        --shadow-box: 0px 0px 30px rgba(0, 0, 0, 0.15);
        --shadow-zigzag:0px 0px 20px rgba(0, 0, 0, 0.15);
}

@layer base{
    .container-fluid-lg{
        @apply px-100 max-lg:px-50 max-md:px-30 max-sm:px-20
    }
    .container-fluid{
        @apply px-75 max-lg:px-50 max-md:px-30 max-sm:px-20
    }
    .container-fluid-xl{
        @apply px-144 max-xxl:px-80 max-xl:px-60 max-large:px-60 max-lg:px-40 max-md:px-30 max-sm:px-20
    }

    /* ======================================================= TITLE ======================================================= */

    h1,
    .h1 {
        @apply text-66 leading-66
         max-xxl:text-52 max-xxl:leading-52
            max-xl:text-48 max-xl:leading-48
                max-large:text-42 max-large:leading-42
                    max-lg:text-38 max-lg:leading-38
                     max-md:text-28 max-md:leading-28
                        max-sm:text-24 max-sm:leading-24    
    }
    h2,
    .h2 {
        @apply text-50 leading-50
            max-xxl:text-40 max-xxl:leading-40
             max-lg:text-38 max-lg:leading-38
                max-md:text-32 max-md:leading-32
                    max-sm:text-28 max-sm:leading-28
    }
    h3,
    .h3 {
       @apply text-30 leading-36
            max-lg:text-28 max-lg:leading-32
                max-sm:text-22 max-sm:leading-28
    }
    h4,
    .h4 {
        @apply text-28 leading-38
            max-xxxl:text-24 max-xxxl:leading-30
                max-xxl:text-22 max-xxl:leading-26
                    max-lg:text-20 max-lg:leading-28
                        max-md:text-18 max-md:leading-24
    }

  /* ======================================================= TITLE FONT FAMILY ======================================================= */

    .title-primary h1,
    .title-primary h2,
    .title-primary h3,
    .title-primary h4,
    .title-primary h5,
    .title-primary h6 {
        @apply font-cormorant
    }

    .title-secondary h1,
    .title-secondary h2,
    .title-secondary h3,
    .title-secondary h4,
    .title-secondary h5,
    .title-secondary h6 {
        @apply font-varsailles
    }
    .title-josefins h1,
    .title-josefins h2,
    .title-josefins h3,
    .title-josefins h4,
    .title-josefins h5,
    .title-josefins h6 {
        @apply font-josefins
    }
    .charcoal{
        @apply text-charcoal
    }
    .orange{
        @apply text-orange
    }
    .white{
        @apply text-white
    }
    .gray{
        @apply text-gray
    }
    .content p {
        @apply mt-10 text-18 leading-28
            max-md:text-16 max-md:leading-24
    }
    .content p:first-child {
        @apply mt-0;
    }
    .content.big p{
        @apply !text-36 !leading-48
                max-xxxl:!text-30 max-xxxl:!leading-36
                    max-xl:!text-28 max-xl:!leading-34
                        max-large:!text-26 max-large:!leading-30
                            max-lg:!text-22 max-lg:!leading-28
                                max-992:!text-20 max-992:!leading-24
                                    max-sm:!text-18 max-sm:!leading-22
    }
    .content-primary  p{
        @apply !font-josefins
    }
    .content-secondary p{
        @apply !font-cormorant
    }
    .preheading span{
        @apply text-40 text-charcoal uppercase font-josefins font-bold
            max-xxxl:text-38 leading-38
                max-xxl:text-36
                    max-xl:text-32
                        max-lg:text-30 max-lg:leading-30
                            max-md:text-28
    }
    .top-bar-head span{
        @apply text-22 uppercase font-varsailles
            max-xxxl:text-20 max-xxxl:leading-20
                max-xl:text-18 max-xl:leading-18
                    max-lg:text-16 max-lg:leading-16
                        max-md:text-14 max-md:leading-14
    }
}

@layer components{
    .btn {
      @apply py-13 px-30 uppercase font-cormorant tracking-custom font-semibold inline-block cursor-pointer max-xs:py-10 max-xs:px-28 flex items-center justify-center text-center;
    }
    .btn-small{
        @apply text-20 leading-20
            max-lg:text-16 max-lg:leading-16
                max-xs:text-14
    }
    .btn-big{
        @apply text-24 leading-24
            max-xl:text-20 max-xl:leading-20
            max-lg:text-18 max-lg:leading-18
                max-sm:text-16 max-sm:leading-16
                    max-xs:text-14
    }
    .btn-pink{
        @apply bg-pink text-white border-[1px] border-pink transition-all ease-in-out duration-300
    }
    .btn-pink:hover {
        @apply bg-white text-pink border-[1px] transition-all ease-in-out duration-300
    }    
    .btn-blue{
        @apply bg-blue text-white border-[1px] border-blue transition-all ease-in-out duration-300
    }
    .btn-blue:hover {
        @apply bg-white text-blue border-[1px] transition-all ease-in-out duration-300
    }    

    .ctm-input{
        @apply w-full h-auto bg-white border-[1px] border-semigray px-20
    }
    .ctm-input input{
        @apply h-full w-full pl-40 placeholder:font-josefins placeholder:text-charcoal placeholder:text-18 placeholder:max-md:text-16 placeholder:leading-18 placeholder:max-md:leading-16 focus-visible:outline-none
    }
}

@layer utilities{
    .is-sticky {
        animation: headerStickyAnimation 0.5s ease-in-out;
        @apply fixed top-0 left-0 w-full z-50 transition-all duration-500;
        }
        @keyframes headerStickyAnimation {
        0% {
            opacity: 0.5;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    header.is-sticky{
        @apply shadow-sm
    }
    .header{
        @apply bg-white
    }
    .top-bar{
        @apply bg-skin py-10
    }
    .top-bar-links a,
    .footer-links a{
        @apply flex gap-12
    }
    .top-bar-links a span{
        @apply font-josefins text-charcoal font-medium transition-all duration-300 ease-in-out
    }
    .top-bar-links a span:hover{
        @apply text-charcoal/60 transition-all duration-300 ease-in-out
    }
    .footer-links a img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(1%) hue-rotate(290deg) brightness(116%) contrast(101%);filter: brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(1%) hue-rotate(290deg) brightness(116%) contrast(101%);
    }
    .footer-links a span{
        @apply font-josefins text-white font-medium
    }
    header nav .cart span{
        @apply font-josefins text-16 tracking-custom
    }
    .bottom-nav nav{
        @apply overflow-x-auto
    }
    .bottom-nav nav ul li a{
        @apply font-cormorant uppercase text-charcoal text-18 leading-22 font-bold tracking-custom-small whitespace-nowrap transition-all duration-300 ease-in-out
    }
    .bottom-nav nav ul li a:hover{
        @apply text-charcoal/60 transition-all duration-300 ease-in-out
    }
    .bottom-nav nav ul li{
        @apply px-24 border-l-[1px] border-lightbrown pb-10 relative
    }
    
    .bottom-nav nav ul li:last-child{
        @apply !pr-0
    }
    .bottom-nav nav ul li:first-child{
        @apply !pl-0 border-l-0
    }
    .social-icons{
        @apply grid gap-8 grid-cols-3
    }
    .social-link{
        @apply p-7 bg-blue flex justify-center items-center transition-all ease-in-out duration-300 border-[1px] border-blue 
    }
    .social-link:hover{
        @apply border-[1px] border-blue bg-white transition-all ease-in-out duration-300
    }
    .social-link:hover img{
        filter: brightness(0) saturate(100%) invert(43%) sepia(9%) saturate(3565%) hue-rotate(170deg) brightness(90%) contrast(81%);
    }
    footer .social-link{
        @apply !bg-pink border-1 border-pink transition-all ease-in-out duration-300
    }
    footer .social-link::hover{
        @apply !bg-white !border-1 !border-pink transition-all ease-in-out duration-300
    }
    .social-link img{
        @apply max-w-18
    }
    .hero-section::before{
        @apply content-[""] absolute top-0 left-0 bg-black/50 w-full h-full pointer-events-none
    }

    .hero-section .banner-content .content p{
        @apply !text-30 !font-semibold leading-36
            max-lg:!text-26
                max-md:!text-20
                    max-sm:!text-16
    }
    .cultures{
        @apply bg-skin
    }
    .culture{
        @apply flex items-center gap-20
    }
    .culture-slider .swiper-slide{
        @apply transition-all ease-in-out duration-300
    }
    .culture-slider .swiper-slide.swiper-slide-active .culture{
        @apply flex justify-normal max-md:justify-center
    }
    .culture-slider .swiper-slide.swiper-slide-next .culture{
        @apply flex justify-center
    }
    .culture-slider .swiper-slide .culture{
        @apply flex justify-end
    }
    .culture{
        @apply text-22 leading-22 font-varsailles
            max-xxxl:text-18 max-xxxl:leading-18
                max-992:text-16 max-992:leading-16
    }

    .culture-section .content strong.second{
        @apply !text-pink
    }


    .card{
        @apply relative
    }
    .card::before{
        @apply content-[""] absolute top-5 -left-5 w-full h-full bg-pink z-[-1]
    }
    .card-image{
        @apply relative pt-[102.27%]
    }
    .card-image img{
        @apply absolute top-0 left-0 w-full h-full
    }
    .card-body{
        @apply p-20 bg-white flex flex-col gap-15 shadow-box
    }
    .card-body .card-title{
        @apply max-w-391
    }
    .card-price{
        @apply absolute left-20 bottom-20 bg-pink p-10 font-josefins text-20 font-bold leading-20 flex gap-5 items-center max-576:text-16
    }
    .card-price img{
        @apply max-w-24 max-h-24 !static
    }
    .card-description p{
        @apply !text-20 !font-bold
            max-xxl:!text-18 max-xxl:!leading-18
    }
    .card-info{
        @apply py-6.5 max-xl:py-4.5 max-xl:px-8 px-10 border-[1px] border-gray rounded-5 flex gap-9.5 items-center w-fit
    }
    .card-info span{
        @apply text-16 tracking-custom font-josefins font-medium capitalize
    }


    .private-tours-section{
        @apply relative
    }
    .private-tour-img{
        @apply relative pt-[55.56%] max-md:h-350
    }
    .private-tour-img img{
        @apply absolute top-0 left-0 w-full h-full max-md:object-cover
    }
    .private-tour-banner{
        @apply absolute bottom-0 left-0 w-full p-25 bg-darkblue/95 max-lg:relative
    }
    .private-tour-banner .title h5{
        @apply text-40 leading-60 max-lg:text-center uppercase
            max-xxxl:text-36 max-xxxl:leading-56
                max-xxl:text-32 max-xxl:leading-50
                    max-xl:text-28 max-xl:leading-40
                        max-lg:text-24 max-lg:leading-36
                            max-md:text-20 max-md:leading-28
    }
    .private-tour-banner .content p{
        @apply text-20 leading-30 font-bold uppercase max-lg:text-center
            max-xl:text-18 max-xl:leading-28
                max-lg:text-16
    }


    .tesmonial-swiper .swiper-slide{
        @apply px-39 py-10 max-large:px-20
    }
    .testimonial-img{
        @apply relative pt-[100%] rounded-999
    }
    .testimonial-img::before{
        @apply content-[""] absolute top-10 left-10 bg-pink rounded-999 w-full h-full
    }
    .testimonial-img img{
        @apply absolute top-0 left-0 w-full h-full rounded-999
    }
    .testmonial-head{
        @apply relative pt-72 italic max-w-450 line-clamp-1 max-md:max-w-[unset]
    }
    .testmonial-head::before{
        @apply content-[""] absolute top-39 left-[50%] bg-[url('../../images/png/quote.png')] bg-contain bg-no-repeat w-34 h-34 translate-x-[-50%];
    }
    .tesmonial-swiper .swiper-slide .content p{
        @apply !font-light line-clamp-6
    }

    .who-we-are-section .content p{
        @apply text-30 leading-36
            max-xl:text-18 max-xl:leading-22
    }

    .tringle-pattern{
        @apply relative
    }
    .tringle-pattern::before{
        @apply content-[""] absolute bottom-0 left-0 z-10 w-full max-w-1080 h-full bg-cover max-lg:hidden;
        background: linear-gradient(180deg, #004F9A -8.76%, #20B2AA 111.26%);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
    .tringle-pattern::after{
        @apply content-[""] absolute bottom-0 right-0  w-full max-w-1080 h-full bg-cover max-lg:hidden;
        background: linear-gradient(180deg, #FB5607 -8.76%, #FFBE0B 111.26%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
    .who-we-are-section .zigzag-content p{
        @apply !text-18 !leading-26
    }

    .contact-section .title h5{
        @apply text-40 leading-40
        max-xxxl:text-38 max-xxl:leading-38
                max-xxl:text-36
                    max-xl:text-32
                        max-lg:text-30 max-lg:leading-30
                            max-md:text-28
    }
    .ctm-input{
        @apply relative
    }
    .ctm-input::before{
        @apply content-[""] absolute top-[50%] left-20 translate-y-[-50%] bg-contain w-full h-full max-w-24 max-h-24 bg-[url(../../images/svg/mail-icon.svg)] bg-no-repeat
    }

    .footer{
        @apply pt-85 bg-darkblue pb-10
    }
    .footer-preheading span{
        @apply font-varsailles text-22 leading-22 tracking-custom
            max-lg:text-18 max-lg:leading-18
                max-sm:text-16 max-sm:leading-16
            
    }
    .footer .footer-title h2{
        @apply !text-100 !leading-100
            max-xxxl:!text-80 max-xxxl:!leading-80
                max-xxl:!text-50 max-xxl:!leading-50
                    max-xl:!text-40 max-xl:!leading-40
                        max-lg:!text-30 max-lg:!leading-30
                            max-md:!text-28 max-md:!leading-28
            
    }
    .footer-links{
        @apply max-md:gap-10
    }
    .footer-links a {
        @apply px-50 first:pl-0 last:pr-0 last:border-l-[1px] last:border-l-lightbrown/10 max-md:px-0 last:max-md:border-l-0
    }
    .footer-nav{
        @apply border-[1px] border-lightbrown/10 border-r-0 border-l-0 py-19 mt-85 overflow-x-auto
    }
    .footer-nav ul{
        @apply flex
    }
    .footer-nav ul li{
        @apply px-30 first:pl-0 last:pr-0 border-l-[1px] border-l-lightbrown/10 first:border-l-0
    }
    .footer-nav ul li a{
        @apply font-cormorant uppercase text-white text-18 tracking-custom-small whitespace-nowrap
    }
    .copyright-info span{
        @apply text-14 tracking-custom font-josefins leading-14
    }
}